POSTGRES_DB=bazarflow
POSTGRES_USER=bazarflow
POSTGRES_PASSWORD=bazarflow
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
BAZARFLOW_DATASOURCE_URL=jdbc:postgresql://localhost:5432/bazarflow
BAZARFLOW_DATASOURCE_USERNAME=bazarflow
BAZARFLOW_DATASOURCE_PASSWORD=bazarflow
BAZARFLOW_SECURITY_ISSUER_URI=http://localhost:8081/realms/bazarflow
BAZARFLOW_SECURITY_JWK_SET_URI=http://localhost:8081/realms/bazarflow/protocol/openid-connect/certs
BAZARFLOW_SECURITY_RESOURCE_CLIENT_ID=bazarflow-api
BAZARFLOW_SWAGGER_CLIENT_ID=bazarflow-ops-console
VITE_BAZARFLOW_AUTH_ISSUER=http://localhost:8081/realms/bazarflow
VITE_BAZARFLOW_AUTH_CLIENT_ID=bazarflow-ops-console
